.table {
  width: 100%;
  border-collapse: collapse;
}

tr:nth-child(2n) {
  background-color: #eee;
}

th,
td {
  border: none; /* Remove border */
  padding: 8px;
  text-align: left;
}

td:hover {
  cursor: pointer;
}

th {
  text-align: center;
  background-color: #ebfbff;
}

td.green {
  color: green;
}

td.red {
  color: red;
}