.configurator {

}

.header {
  display: flex;
  justify-content: center;

  background-color: #001025;
  color: white;
  padding: 50px;
}

h1 {
  font-weight: normal;
}
h1 > strong {
  font-weight: bold;
  /* color: yellow; */
}