.User {
  /* display: flex; */
  /* flex-direction: column; */
  margin: 15px;
  /* justify-content: center; */
  /* align-items: center; */

}

.User svg {
  height: 15px;
  margin-right: 5px;
}

.User p {
 display: flex;
align-items: center; 
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profileImg {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  font-size: 2rem;
  margin-left: 1rem;
}

.sectionHeader {
  font-size: 1.5rem;
}

.about {
  margin-top: 2rem;
}

.contact {
  margin-top: 2rem;
}