.Button {
  display: flex;
  border-radius: 50px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  padding: 15px 50px;
  background-color: #fff;
  color: #333;
  text-decoration: none;
  justify-content: center;
  max-width: fit-content;
  margin-left: 15px;
}

.Button:hover {
  opacity: 0.9;
  transform: scale(0.98);
}

.ButtonText {
  transition: all 0.2s;
  align-self: center;
}

.Button.Dark {
  background-color: #333;
  color: #fff;
}

.Button.Dark.Loading .ButtonText {
  visibility: hidden;
  opacity: 0;
}

.Button.Dark.Loading::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

.Button.White {
  background-color: #fff;
  color: #333;
}

.Button.White.Loading .ButtonText {
  visibility: hidden;
  opacity: 0;
}

.Button.White.Loading::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: #333;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}
