.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  white-space: nowrap;
  height: fit-content;
  cursor: pointer;
  border: 0px;
  min-width: 60px;

  /* Default settings */
  border-radius: 25px;
  padding: 10px 20px 10px 20px;
}



/* for Heroicons which are SVG elements */
.btn svg {
  height: 14px;
}
/* .btn:first-child {
  margin-right: 10px;
} */

.btn-blue {
  /* background-color: blue; */
  color: white;
  background-color: rgba(61, 84, 200, 0.9);
}

.btn-blue:hover {
  /* background-color: blue; */
  color: white;
  background-color: rgba(61, 84, 200, 1);
}

.btn-green {
  background-color: rgba(0, 153, 0, 0.9);
  color: white;
}

.btn-green:hover {
  background-color: rgba(0, 153, 0, 1);
  color: white;
}

.btn-red {
  background-color: rgba(255, 0, 0, 0.9);
  color: white;
}

.btn-red:hover {
  background-color: rgba(255, 0, 0, 1);
  color: white;
}

.btn-dark {
  background-color: rgba(0,16,37, 0.9);
  color: white;
}

.btn-dark:hover {
  background-color: rgba(0,16,37, 1);
  color: white;
}

.btn-light {
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
}

.btn-light:hover {
  background-color: rgba(255, 255, 255, 1);
  color: black;
}

.btn-navlink {
  display: flex;
  border-radius: 50px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  padding: 15px 30px;
  background-color: #fff;
  color: #333;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  max-width: fit-content;
  font-weight: 700;
}

.btn-navlink:hover {
  opacity: 0.9;
  transform: scale(0.98);
}

.btn-sm {
  font-size: 12px;
}

.btn-lg {
  font-size: 16px;
}

.mr-5 {
  /* margin-right: 5px; */
}

.br-25 {
  border-radius: 25px;
}

.br-50 {
  border-radius: 50px;
}

.p-5 {
  padding: 5px;
}

.p-10 {
  padding: 10px;
}

.pt-5 {
  padding-top: 5px;
}
.pt-10 {
  padding-top: 10px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-30 {
  padding-top: 30px;
}

.pb-5 {
  padding-bottom: 5px;
}
.pb-10 {
  padding-bottom: 10px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pl-5 {
  padding-left: 5px;
}
.pl-10 {
  padding-left: 10px;
}

.pl-20 {
  padding-left: 20px;
}

.pl-30 {
  padding-left: 30px;
}

.pr-5 {
  padding-right: 5px;
}
.pr-10 {
  padding-right: 10px;
}

.pr-20 {
  padding-right: 20px;
}

.pr-30 {
  padding-right: 30px;
}

.mt-5 {
  margin-top: 5px;
}
